body{
    background-color: #ffffff;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .header{
    background: radial-gradient(
    ellipse farthest-corner at 1% 1%,
    pink 2%,
    rgb(244, 161, 244),
    rgb(178, 103, 216),
    white 40%,
    white
  );
}

nav .list-header{
    list-style: none;
    display: flex;
    justify-content: center; 
    margin-left: 40%;
    
}

.li-header{
    font-size: 110%;
    margin-top: -5%;
    margin-right: 5%; 
}

.logo{
    margin-top: 3%;
    margin-left: 5%;
    width: 5%;
}

.menu-icon,
.menu-close {
  display: none;
  font-size: 24px;
  cursor: pointer;
  /* padding-left: -50%; */
}

/* Header info*/ 

.header-content{
    display: flex;
}
.header-text{
    margin-top: 10%;
    margin-left: 5%;
    width: 40%;
}

.img-header-1, .img-header-2{
margin-top: 5%;
}

.img-header-1{
    margin-left: 5%;
    width: 30%;
}

.img-header-2{
    margin-left: 3%;
    width: 10%;
}

.menu-button{
    color: white;
    background-color:  #4270EC;
    border: 1px solid #4270EC;
    padding: 2% 5% 2% 5%;
    border-radius: 15px;
    font-size: 110%;
    margin-top: 5%;
}

.header-info {
    margin-top: 10%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    width: 80%;

  }

  .info-content{
    display: flex;
  }

   .inf-content-text{
     margin-left: 10%;
   }

   .info-text{
     font-size: 120%;
   }

   

   .header-h3{
    font-size: 150%;
   }

   .h1-header{
    font-size: 400%;
   }

   .header-p{
    font-size: 120%;
   }