.sidenav {
  background-color: wheat;
  border: 1px solid black;

  position: fixed;
  overflow-x: hidden;
  height: 100%;
  width: 60px;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 20px;
}

.sidenav ul {
  padding: 6px 8px 6px 16px;
  font-size: 25px;
  color: black;
  display: block;
}
.sidenav li {
  list-style-type: none;
}
.sidenav a {
  color: black;
  text-decoration: none;
}
.sidenav a:hover {
  color: white;
}