/* Blog */
.blog{
   
    padding-top: 5%;
}

.blog-title{
    text-align: center;
}

.blog-info{
    display: flex;
    justify-content: center;
    gap: 0;
  }

  .blog-content{
    padding-left: 3%;
    width: 30%;
  }

  .blog-img{
    width: 100%;
  }

.blog-p{
    color: grey;
}

.blog-sp{
    padding-left: 10%;
    color: grey;
  }

  .blog-link{
    text-decoration: none;
  }

  .h2-blog{
    font-size: 300%;
  }
  
  @media (max-width: 850px) {
    .blog-info{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .blog-content{
      width: 80%;
      margin-top: 10%;
    }
  }
 