footer{
    margin-top: 10%;
    /*display: flex;
    gap: 0;  */
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
 }

 .footer-ourcontact, .footer-aboutus, .footer-info{
    width: 20%;
    padding-left: 10%;
 }

 .footer-logo{
    margin-top: 1%;
 }

 .footer-img{
    width: 45%;
 }
 
input{
  background-color: #ECF0FC; 
  border: none;
  height: 25px;
  width: 70%;
  border-radius: 5px;
  padding: 2% 5% 2% 5%;
}

@media (max-width: 850px){
   footer{
     width: 90%;
   }
     .footer-img{
       width: 50%;
       margin: 0;
     }
     
   }
   
   
   @media (max-width: 700px){
   
   footer{
     display: flex;
     flex-direction: column;
   }
   .footer-img{
     width: 20%;
   }
   .footer-ourcontact, .footer-aboutus, .footer-info{
     width: 80%;
     text-align: center;
   }
   }

