/* Gradient block */
.gradient-box{
    margin-top: 10%;
  }

  .gradient{
  width: 80%;
  margin-left: 10%;
  padding: 3% 2% 3% 2%;
  background: linear-gradient(70deg, #527FF6, #E16DD9, #FFCC70);
  border-radius: 15px;
}

.gr-text{
    display: flex;
    gap: 0;  
}

  .gr-text-titile{
    color: white;
    font-size: 300%;
    padding-left: 20%;
  }

.gr-button{
    margin-left: 30%;
    color: #4270EC;
    background-color:  white;
    border: 1px solid white;
    padding: 2% 5% 2% 5%;
    border-radius: 15px;
    font-size: 100%;
    margin-top: 10%;
    border-radius: 15px;
    font-weight: bold;
}

.gr-title{
  width: 50%;
}

.grad-button{
  width: 50%;
}

@media (max-width: 850px){
  .gr-text {
    display: flex;
    flex-direction: column;
    align-items: center; 
    }

  .gr-text-titile,
  .gr-button {
    width: 100%; 
    padding-left: 0; 
    margin-left: 0; 
  }
  .gr-text-titile{
   font-size: 200%;
  } 

  .gr-button{
    font-size: 70%;
  }
}