/* Portfolio */
.portfolio-text{
    display: flex;
    margin-left: 10%;
   
    
}
.portfolio-text-title, .portfolio-text-info{
    width: 50%;
    margin-top: 10%;
}

.portfolio-img{
    width: 30%;
    margin-left: 3%;
    margin-top: 5%;
}
.h2-portfolio{
    font-size: 300%; 
}

.portfolio-a{
    text-decoration: none;   
}

@media (max-width: 850px) {
    .div-portfolio{
      width: 100%;
      margin: 0;
    }
    
    .portfolio-text{
      flex-direction: column;
      align-items: center;
      margin-top: 10%;
    }
  
    #portfolio-img{
      display: flex;
      flex-direction: column;
      align-items: center;
    
    }
    .portfolio-img{
      width: 80%;
    }
  
    .portfolio-text-title, .portfolio-text-info{
      width: 80%;
      margin: 0;
    }
    
  }
